*{
    padding: 0;
    margin: 0;
    font-family: system-ui;
}
.toppage{
    color: white;
    background: rgba(165, 42, 42, 0.438);
    background-image: url("../images/chococake3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}
.businessname{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.75em;
    font-style: italic;
    font-weight: 800;
    color: rgb(255, 0, 43);
    text-transform: uppercase;
}
.navbar ul{
    display: flex;
    padding-left: 200px;
    padding-top: 0;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li > a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    margin: 25px;
    padding: 15px;
    text-transform: uppercase;
    transition: all o.5s ease-in-out;
}
.navbar ul li > a:hover{
    background: rgb(255, 0, 43);
    padding: 20px;
}
.mainpage{
    background:rgba(165, 42, 42, 0.438);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}
.message{
    background-color: rgb(48, 12, 12);
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
}
.message h1{
    color: #fff;
    padding: 20px;
    margin-top: 30px;

}
.message h1 .msgbtn{
    height: 40px;
    width: 150px;
    margin: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    background: rgb(255, 0, 43);
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.message h1 .msgbtn:hover{
    background: rgb(48, 12, 12);
}
.message .img1 img{
    width: 450px;
    height: 450px;

    
}
.message .img2 img{
    width: 450px;
    height: 450px;
}


footer{
    position: relative;
    height: auto;
    padding: 50px 100px;
    background: rgba(165, 42, 42, 0.438);
}
footer .container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;

}
footer .container .aboutussec h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .aboutussec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(255, 0, 43);
}
footer .container .quicklinkssec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .quicklinkssec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(255, 0, 43);

}
footer .container .contactssec h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .contactssec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(255, 0, 43);    
}
footer .container .aboutussec p{
    color: black;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;

}
.sci li{
    list-style: none;

}
.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: rgb(255, 0, 43);
    
}
.sci li a img{
    height: 30px;
    width: 30px;
}
.quicklinkssec{
    position: relative;
}
.quicklinkssec li{
    list-style: none;

}
.quicklinkssec li a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinkssec li a:hover{
    color: rgb(255, 0, 43);
}
.info{
    position: relative;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
    list-style: none;
}
.info li img{
    height: 30px;
    width: 30px;
    
}
.info li span{
    color: black;
}
.info a{
    text-decoration: none;
    color: black;
}
.info a:hover{
    color: rgb(255, 0, 43);
}
.copyrighttext{
    background: rgb(48, 12, 12);
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}
/* making it responsive */
@media (max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .copyrighttext{
        padding: 8px 40px;
    }
}
@media (max-width: 768px){
    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
